/*Author: Muhammad Faizan*/

.back-btn{padding: 6px 0 !important;width: auto !important}
html{ background-color: #eff3f6}
.nodisplay{display: none ;}
.nodisplayimp{display: none !important;}
.ck-content{min-height: 200px;}
.noborder{border: 0 !important}
.questions .table-question table tr td{padding: 0px}
.questions .table-question table tr td input{width: 100%;height: 40px;box-shadow: none !important}
.not-allowed{cursor: not-allowed;background-color: #f1f1f1}
.width-33{width:33%;}
.width-100{width:100%;}
.width-40{width: 40%}
.optionvalue{margin-bottom: 10px;}
.d-inline-block{display: inline-block;}
.warning-box{width: 100%;padding: 15px 30px;background-color: #fff6c9;margin-bottom: 20px;}
.addOptionContent {padding-left: 22px;}
.optionBox input{margin-top: 20px;}
.optionBox span{margin-top: -4px;}
.btn-delete-opt{margin-left: 4px;
margin-bottom: 3px;}
#formula{height: 45px;border:1px solid #000}
.draggable-list li,#formula li{display: inline-block;padding: 5px 20px;background-color: #f1f1f1;}
#dataTableRequsition_filter{display: none;}
#dataTableRequsition tbody tr:hover{cursor: pointer;background-color: #eff3f6}
/*RFQ LIST*/
#Requisition_additional_documents_list {display: none;}
#dataTableRequsition_length{display: none}
.pagination li a:hover {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid #ed7c3a !important; }
.change-action{max-width: 200px}
/*#dataTableRequsition_filter{display: none}*/
#dataTableRequsition_filter,#dataTableRequsition_info{display: none}
.marg-b{margin-bottom: 0px !important;}
#dataTableRequsition .description{max-width: 150px;border: none;display: block}
.a-tab-block{width: 12.7%;
border-bottom: 1px solid #e9eef0;
border-right: 1px solid #e9eef0;
border-left: none;
cursor: pointer;
background-color: #fff;
font-size: 14px;
color: #4d637b;
position: relative;
padding: 12px 52px 11px;
border-right: none;
display: block;}
.a-tab-block img {
    position: absolute;
    left: 23px;
    top: 21px;
}
.date,.date-box
{
	width:174px;
	float:left;
	font-size:12px;
	color:#555555;
	text-transform:uppercase;
	font-family: 'Gotham-Medium';
	margin-right:26px;
}
.drag-documents-input{width: 100%;}
.modal-backdrop{display: none;}
.error{margin-bottom: 0px !important;}
.errorMessage{color:#555555;text-transform: none;}
#Requisition_additional_documents-wrap{display: none;}

.select-requisitions .select-requisition{ display: block;height:32px;padding-top: 0px ;padding-bottom: 0px; background-image: url("../images/select-arow.png");background-repeat: no-repeat;background-position: 95% 50%;-webkit-appearance: none;-moz-appearance: none;text-indent: 1px;text-overflow: '';color: #333333; }

#requisition-form .date.date-picker .date-pic{border: none;}
select::-ms-expand {    display: none;}
.docsedit{background-color: #4d637b;}
.modal {z-index: 10;}
/*Requests*/
.email-invitation label{font-weight: normal}
.email-invitation .active{background-color: #ee7b3a !important ;border: 1px solid #ee7b3a;color: #ffffff}
#previewRFIModal .questionnaire-popup{max-width: 700px;}
#previewModalView .questionnaire-popup{margin-bottom: 50px;}

.mt-10px{margin-top: 10px;}

.supplier-box-docu{position: relative}
.supplier-box-docu #supplierDocLabel{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 3;}
.disabled-block{opacity: 0.5;cursor: no-drop;}
.tab-block-btn.back-btn{padding: 6px 2% !important}
.back-btn-n,.back-btn-2{padding: 6px 2% !important}
.pickgroup-error{margin-top: 20px;}
.errorb{border: 1px solid red !important;}

/*List Itesm RFQ*/

tbody.scrollContent{height: auto !important; max-height: 383px !important;}
.group-category{max-height: 400px;overflow: auto}
.view-attach-btn{background-color: #4d637b;color: #fff;}
.cleaning-equipment-list{display: block !important}
.cleaning-equipment-list ul{height: auto !important}

.loading-gif img{width: 300px;;left: 50%;top:50%;bottom: 0;margin-top: -113px;
position: relative;
margin-left: -150px;}
.loading-gif{
    z-index: 1000;
    display: none;
    position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
background-color: rgba(0,0,0,0.3);
}
.documents-detail-leftbar{width:60% !important;}
.documents-detail-rightbar{width:40% !important;}

.bg-gray{background-color: #eff3f6}

.mh-300{min-height: 300px;}

.answer{color: #555 !important;}
.checkbox-quest li{border:0 !important;margin: 0 !important;}
.general-answer .form-control{width: 320px}
.list-iteam-table table{width: auto;}
.dtlftbar{width: 19% !important; margin: 0 !important}
.bdr-right-li li:first-child{border-right: 1px solid}
.bdr-right-li {padding: 0}
.submit-items:disabled{opacity: 0.4}
.error-input{border: 1px solid red;}

/*RFQ OVERVIEW*/
.overview-bids-range li{width: 11.11%;text-align: center}
.riverside-outer ul{position:relative;}
.sup-min-bid .min-bid-vbar{
position: absolute;
left: 100%;
width: 2px;
height: 100%;
background-color: #e37840;
top: 0px;
}
.overview-bids-range li:last-child::after{right: none}
#companyProfileModal{z-index: 1100}
.pre-bids-table {width: 100%;}
.scroll-x{overflow-x: scroll}
.scroll-auto{overflow: auto}
.supplier-question-comp tr td:first-child,.supplier-bid-comp tr td:first-child{min-width: 250px;width: 25%}
.supplier-question-comp tr:last-child {border-bottom: 1px solid #e9eef1}
.vendor-information-right{width: 80%;}
.supp-ans-docs-comp{width: 80%;margin: 0px auto;text-align: center}
.bids-table table{width: 100%;}
table .rank-box{margin-left: -7px;}
.width-50{width: 50%;}
.width-33{width: 33%;}
.width-25 {width: 25%;}
.width-20 {width: 20%;}
.width-30 {width: 30%;}
.supplier-bid-comp tr:last-child{border-bottom: 1px solid #e9eef1  }
.supplier-bid-comp .purchase-btn{margin-top: 0; }
.supplier-bid-comp .enter-manual-btn{margin-bottom: 6px;; }
.bid-hitm-cmp-tr th{
    font-size: 14px;
    color: #555;
    background-color: #eff3f6;
    padding: 10px 9px;
    border-right: 1px solid #e9eef1;
    border-left: 1px solid #e9eef1;
}
.bid-ditm-cmp-tr td:first-child{
font-size: 14px;
font-weight: bold;
color: #555;
border-bottom: 1px solid #e9eef1 !important;}
.row-bold{font-weight: bold;}
.item-tprice.max-price{border-bottom:  3px solid #e52920;padding-bottom: 3px}
.item-tprice.min-price {border-bottom:  3px solid #6abd31;padding-bottom: 3px}
.manual-bid-table td,.manual-bid-table th{border-left: none !important;border-right: none !important;text-align: center;max-width: 120px;vertical-align: middle !important;padding-bottom: 10px !important;}
.manual-bid-table .edit-delete{right: 15px;top: 5px;}
.manual-bid-table .input-group{margin: 0px auto;}
.rfq-overview-outer .list-iteam td:nth-child(4) {
    width: 95px !important;
}
.tr-bold{font-family: 'Gotham-Bold';}
.table-b-lrb{border: 1px solid #e9eef0;}
.table-b-lrb td{border-bottom:  1px solid #e9eef0;}
.list-iteam-table.list-iteam-table-edit table td:first-child,.list-iteam-table.list-iteam-table-edit table th:first-child{min-width: 250px !important;}
.bids-graph ul li span{width: 100%;position:absolute;}
.bids-graph ul li {min-height: 30px;}
.supplier-bid-comp,.supplier-question-comp{width: auto !important; min-width: 100%;}
.rfq-overview-outer .tab_content{overflow: hidden}
.auction-description-table{width: 100% ;}
.accept-btn,.decline-btn{background-color: transparent;}

.supplier-bid-comp tr td:first-child{
    max-width: 270px;
}

.tablewidth100{ width: 100%; }
.rememberMe{ text-align: left; }
.rememberMe .LoginForm_rememberMe{ position: absolute; }
.rememberMe label{ display: block; text-indent: -6000px;border-radius: 0;height: 20px;width: 20px;top: 3px;left: 0;z-index: 5;transition: border .25s linear;-webkit-transition: border .25s linear;background-color: #fff; margin: 0 !important; }
.rememberMe #LoginForm_rememberMe:checked ~ label{ background-color: #ee7e3e }
#LoginForm_rememberMe{ position: absolute; visibility: hidden; }
.rememberMe .borderspan{ border: 1px solid #a2a4a5;padding: 2px !important;background: #fff; }
.rememberMe .spantext{text-align: left;font-size: 13px;color: #555555;}
.rememberMe{ width: 100%;display: inline-block;margin: 6px 0 13px 0; }
.loginbutton{ margin-top: 15px; }
.topmenu-line ul li a{color: #fff;}
.topmenu-line ul li{ float: left; margin-right: 20px !important; margin-left: 20px !important; }




@media (min-width: 1200px) and (max-width: 1503px) {
.a-tab-block {
    padding: 12px 31px 11px;
}

.a-tab-block img {
    left: 8px;
}	
.content-inner {
    height: 118vh!important;
}
}

@media (min-width: 1170px) and (max-width: 1201px) {

.a-tab-block img {
    left: 8px;
}	
.content-inner {
    height: 118vh!important;
}
.content .tab-open {
    width: 84.3%;
}
.a-tab-block {
    width: 15.7%;
	 padding: 12px 31px 11px;
}
}
